    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
      <meta charset="UTF-8">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <title>Conecta Ajuda - API Portal</title>

  <link rel="icon" type="image/png" href="/images/favicon.png" />
      <link rel="stylesheet" href="/css/style.css">
    </head>
    
    <body>
      <div class="container">
       <h1>🌊 Conecta Ajuda</h1>

        <p>
            <p>
      Plataforma de gestão inteligente para o <strong>Cenário de Enchentes</strong>. 
      Centralizando informações de doações, necessidades e a ajuda humanitária em tempo real.
    </p>
        </p>

        <div class="links">     
        <a href="http://localhost:3000/lista-necessidades
        " target="_blank">📋 Ver Lista de Necessidades para Doação</a>
        </div>

       <div class="techs">
  <h4>
    🔐 <a href="https://jwt.io/" target="_blank">JWT</a> |
    🗄️ <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a> |
    ⚡ <a href="https://nodejs.org/" target="_blank">Node.js</a>
  </h4>
</div>
      </div>  

       <fotter class="footer">
        <p>Desenvolvido por Rafael Raizer - 2026</p>
      </fotter>
    </body>
       
    </html>